@import "~antd/dist/antd.dark.css";
@import "~antd/dist/antd.compact.css";

.App {
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.home-text {
  font-size: 14pt;
}

.builton {
  background-image: url("./builton.svg");
  width: 300px;
  height: 50px;
  background-size: 300px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
}
